.about-container {
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
} 

.header {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 30px;
}

.subheader {
  font-size: 1.5em;
  color: #666;
  margin-bottom: 40px;
}

.about-me-title {
  font-size: 2em;
  margin-top: 20px;
  color: #444;
  margin-bottom: 20px;
}

.about-me-text {
  font-size: 1.2em;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
  text-align: justify;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.button-container {
  margin-top: 20px;
}

.social-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  margin: 5px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.social-button.linkedin {
  background-color: #0077b5;
}

.social-button.linkedin:hover {
  background-color: #005582;
}

.social-button.github {
  background-color: #333;
}

.social-button.github:hover {
  background-color: #1c1c1c;
}

.social-button svg {
  font-size: 1.5em;
  margin-right: 8px;
}
  